# Aplicación
APP_PORT=3000
NODE_ENV=production

# Base de Datos (Docker)
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_USER=ovo_user
POSTGRES_PASSWORD=ovo_pass
POSTGRES_DB=ovo_compras

# Integraciones
N8N_WEBHOOK_URL=http://localhost:5678/webhook/ovo
